.place-item {
    margin: 1rem 0;

}

.place-item__content {
    direction: rtl;
    width: 80%;
    margin: auto;

}

.place-item__info {
    width: 50%;
    padding: 1rem;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    horiz-align: right;
    direction: rtl;

}

.place-item__image {
    width: 40%;
    height: 50%;
    display: inline-block;

}

.place-item__image img {
    width: 50%;
    vertical-align: baseline;
    height: 50%;

    object-fit: cover;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
    margin: 0 0 0.5rem 0;
}

.place-item__actions {

    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
    direction: rtl;
}

.place-item__modal-content {
    padding: 0;
}

.place-item__modal-actions {
    text-align: right;
}

.place-item__actions button,
.place-item__actions a {
    margin: 0.5rem;
}

.map-container{
    height: 15rem;
    width: 100%;
}

@media (min-width: 768px) {
    .place-item__image {
        height: 100%;
    }
}

h1{
    margin-top: 20px;
}